body {
    background-color: blanchedalmond;
}
#header {
    font-size: 50px;
    position: absolute;
    color: rgb(240, 91, 5);
    left: 40%;
}
#combine {
    width: 1000px;
    height: 500px;
    position: relative;
    top: 150px;
    left: 300px;
    border: 6px solid;
    border-radius: 12px;
    border-color: rgb(184, 36, 36);
}
#groupPic {
    width: 400px;
    height: 400px;
    position: relative;
    top: 55px;
    left: 500px;
}
.infor {
    font-size: 25px;
    position: relative;
    left: 60px;
    bottom: 300px;
    color: rgb(128, 0, 96);
}
